.kissKiya {
    position: relative;
    width: 20em;
    height: 20em;
    border: darkgrey solid 1px;
    margin-top: 0.5em;

}
.kiya {
    position: absolute;
    width: 5em;
    height: auto;
    border-radius: 50%;
}
.kissCursor {
    width: 2em;
    height: 2em;
    position: absolute;
}
.kissKiyaContainer {
    font-size: large;
    width: min-content;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    box-shadow: black 0 0 1em;
    margin: 5em;
    background-color: white;
}