.content {
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: left;
    padding: 0 5em 0 5em;
}

a {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.row {
    flex: 1 1 8px;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 1em;
}
.row > p {
    text-indent: 2em each-line;
    display: inline-block;
    width: auto;
    height: auto;
    flex: 2 1;
}
.row > img {
    width: 10%;
    height: fit-content;
    object-fit: contain;
    border-radius: 1em;
    flex: 1 1;
}
.row > img.vertical {
    flex: 0.5 1;
}

@media (max-aspect-ratio: 3/2) {
    .row {
        flex-direction: column;
    }
    .content {
        padding: 0;
    }
    .row > img {
        width: 100%;
    }
}