.projectCardScaffold {
    position: relative;
    top: 0;
    left: 0;
    width: 20em;
    height: 10em;
}
.projectCard {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    box-sizing: border-box;

    text-align: center;
    background: deepskyblue;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: grey .1em .1em 0.5em;
    z-index: 1;

    animation: popIn 2s;

    font-size: large;
    transition-property: transform, box-shadow, background, top, left, width, height, border-radius, font-size;
    transition-duration: .17s;
    transition-timing-function: ease-in-out;
}
.projectCard > img{
    max-width: 100%;
    margin-top: 0.5em;
    width: 15em;
    height: 6em;
    object-fit: contain;
}
.projectCardHoverable:hover {
    transform: scale(1.1) rotate3d(1, 0, 1, 3deg) translateY(-1em);
    box-shadow: grey 1em 1em 1em;
    z-index: 2;

    cursor: pointer;

}
.projectCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at 20% 20%, lightblue, deepskyblue);
    opacity: 0;
    transition: opacity .17s ease-in-out;
    z-index: -1;
    border-radius: 1em;
}
.projectCardHoverable:hover::before {
    opacity: 1;
    scale: 1.01;
}
.codeSwitchContainer {
    display: flex;
    gap: 0.5em;

    font-size: x-large;

    position: absolute;
    top: 5%;
    right: 5%;

    animation: popIn 0.5s;
    transition: opacity .75s ease-in-out;
}

.backButton {
    position: absolute;
    top: 5%;
    left: 5%;

    padding: 0.5em;
    font-size: large;
    border-radius: 0.5em;
    border: none;
    background: white;
    box-shadow: gray 0.1em 0.1em 0.5em;

    animation: popIn 0.5s;
    transition: opacity .75s ease-in-out;
}
.backButton:hover {
    background: #E0E0FF;
}

.innerContent {
    width: 100%;
    height: 0;
    box-sizing: border-box;
    padding: 0;

    opacity: 0;

    flex-shrink: 0;

    overflow: hidden;

    transition-property: width, height, padding, opacity;
    transition-duration: 0.75s;
}

@keyframes popIn {
    0% {
        scale: 0;
    }
    30% {
        scale: 0;
    }
    75% {
        scale: 1.05 ;
    }
    100% {
        scale: 1;
    }
}

@media (max-aspect-ratio: 3/2) {
    .codeSwitchContainer {
        flex-direction: column;
        align-items: center;
        font-size: medium;
        top: 4%;
    }
    .codeSwitchContainer > div {
        font-size: x-large;
    }
    .projectCardScaffold {
        width: 15em;
        height: 10em;
    }
    .projectCard > img {
        width: 10em;
        height: 5em;
    }
}