.content {
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: left;
    padding: 0 5em 0 5em;
}
.paragraph {
    display: inline-block;
    width: auto;
    height: auto;
    flex: 2 1;
}
.row {
    flex: 1 1 8px;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
.horizontalImage {
    width: 10%;
    height: auto;
    object-fit: contain;
    margin: 0 1em 0 1em;
    border-radius: 1em;
    flex: 1 1;
}

@media (max-aspect-ratio: 3/2) {
    .row {
        flex-direction: column;
    }
    .content {
        padding: 0;
    }
    .horizontalImage {
        width: 100%;
        margin: 1em 0 1em 0;
    }
}